{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Combinational Motifs</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/combinational-motifs.css' %}" rel="stylesheet"/>
  </head>
  <body>
    <div class="page">
      {% include 'sidebar.html' %}
      <div class="page-wrapper">
        <div class="page-header d-print-none">
          <div class="container-xl">
            {% block header %}
            {% endblock header %}
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tabler.min.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>