{% extends 'base.html' %}

{% block header %}
<div class="row g-2 align-items-center">
  <div class="col">
    <span class="h1">
      Combinational Motifs
    </span>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="row row-deck row-cards">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        {% if request.user.is_anonymous %}
        Welcome to Combinational Motifs. A Python implementation of the book by Maxim Blokh.
        {% else %}
        <b>{{ request.user|capfirst }}</b>, welcome to Combinational Motifs. A Python implementation of the book by Maxim Blokh.
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}